
.carousel__lista {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #5c58b6, #5d4fc6, #6243d5, #6c31e1, #7a04eb);
    z-index: 0;
}
#marvel {
    width: 5em;
}
#marvel:hover{
    filter: grayscale(0%);
    
}
#dc { 
    width: 3em;
    background-color: transparent;
}
#dc:hover {
    filter: grayscale(0%);
}
#starwars {
    width: 4em;
    background-color: transparent;
}
#starwars:hover {
    filter: grayscale(0%);
}
#pop {
    width: 3.5em;
    background-color: transparent;
}
#pop:hover {
    filter: grayscale(0%);
}

@media screen and (min-width:1024px) {
    .carousel__lista {
        height: 100px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        z-index: 0;
    }
    #marvel {
        filter: grayscale(100%);
        width: 5em;
    }
    #marvel:hover{
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
    #dc { 
        filter: grayscale(100%);
        width: 3em;
        background-color: transparent;
    }
    #dc:hover {
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
    #starwars {
        filter: grayscale(100%);
        width: 4em;
        background-color: transparent;
    }
    #starwars:hover {
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
    #pop {
        filter: grayscale(100%);
        width: 3.5em;
        background-color: transparent;
    }
    #pop:hover {
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
}
