:root{
    --color-fondo: #120458;
    --color-secundario: #7a04eb;
    --color-letras: #ff00a0;
    --letra-principal: 'Rock Salt', cursive;
    /* --color-fondo: rgb(6 2 16);
    --color-secundario: rgb(244 55 149);
    --color-letras: rgb(7 192 207); */

}

html, body{
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}
.contenedor {
    width:auto;
}
.header{
    height: 80px;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
    color: #fff;
}
#btn_menu{
    display: none;
}
.menu__hamb_icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 10px;
}
.menu__hamb_icon img{
    width: 30px;
    text-align: center;
}
.menu__hamb_icon :hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
.menu__lista{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-left: -80%;
    transition: all 0.2s;
    top: 80px;
}
.menu__link{
    display: block;
    padding: 15px 20px;
    background-color: var(--color-fondo);
    border-top: 1px solid var(--color-secundario);
}
.menu__link a{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-letras);
}
.logo {
    color: var(--color-letras);
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 5px;
}
.buscar {
    padding: 0 10px;
}
#btn_menu:checked ~ .menu__lista {
    margin: 0;
}
/* menu */
.header__menu {
    width: auto;
    height: 10rem;
    padding: 40px;
    display: block;
    background-image: url(/img/background/marvel_banner.jpeg);
    background-position:center;
    background-repeat: no-repeat;
}
.header__menu img {
    width: 100%;
    float: left;
}
/* MAIN */
.productos{
    margin: 0 auto;
}
.productos__titulo{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-fondo);
    font-family: 'Rock Salt', cursive;;
    font-size: 0.6rem;
    color: var(--color-letras);
    letter-spacing: 0.1rem;
    padding-top: 10px;
}
.productos__lista{
    background-color: var(--color-fondo);
    height: 100%;
}
.productos__img{
    height: 100%;
    width: auto;
    border-radius: 1rem;
    max-height: 300px;
}
.productos__grid-1 {
    display: flex;
    flex-flow:wrap;
    width: 100%;
    justify-content: space-around;
    align-items:center;
}
.productos__grid-2 {
    display: flex;
    flex-flow:wrap;
    width: 100%;
    justify-content: space-around;
    align-items:center;
}
.productos__grid-3 {
    display: flex;
    flex-flow:wrap;
    width: 100%;
    justify-content: space-around;
    align-items:center;
}
.productos__item{
    padding: 80px 0;
}
/* FOOTER */
.footer {
    border-top: 2px solid var(--color-secundario);
    background-color: var(--color-secundario);
}
.redes__titulo{
    text-align: center;
    padding: 10px;
    font-family: var(--letra-principal);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.redes-conteiner{
    margin: 0px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;  
}
.redes-icon__img{
    width: 50px;
    margin: 0 1rem;
}

@media screen and (min-width: 768px) {
    /* menu */
.header__menu {
    width: auto;
    height: 250px;
    padding: 40px;
    display: block;
    background-image: url(/img/background/marvel_banner.jpeg);
    background-position:center;
    background-repeat: no-repeat;
    background-color: #d11820;
}
.header__menu img {
    display: none;
}
}

@media screen and (min-width: 1024px) {
    .header{
        height: 80px;
        background-color: var(--color-fondo);
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: baseline;
        color: #fff;
    }
    .menu__hamb_icon{
        display: none
    }
    #btn_menu{
        display: none;
    }
    .menu__lista{
        position:relative;
        display: flex;
        flex-direction: row;
        width: autp;
        height: auto;
        margin-left: 0%;
        transition: all 0.2s;
        top: 0px;
    }
    .menu__link{
        display: inline-block;
        padding: 15px 20px;
        background-color: var(--color-fondo);
        border-top: none;
    }
    .menu__link a{
        font-size: 1rem;
        font-weight: bold;
        color: var(--color-letras);
    }
    .logo {
        color: var(--color-letras);
        font-size: 2rem;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 5px;
        margin-right: 300px;
    }
    .buscar {
        padding: 0 10px;
    }
    /* MAIN */
    .productos__titulo{
        display: block;
        text-align: center;
        text-decoration: none;
        background-color: var(--color-fondo);
        font-family: 'Rock Salt', cursive;;
        font-size: 1rem;
        color: var(--color-letras);
        letter-spacing: 0.1rem;
        padding-top: 50px;
    }
}