:root{
    --color-fondo: #120458;
    --color-secundario: #7a04eb;
    --color-letras: #ff00a0;
    --letra-principal: 'Rock Salt', cursive;
    /* --color-fondo: rgb(6 2 16);
    --color-secundario: rgb(244 55 149);
    --color-letras: rgb(7 192 207); */

}

html, body{
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
	list-style-type: none;
	text-decoration: none;
	box-sizing: border-box;
}
.contenedor {
    width:auto;
}
/* HEADER */
.header{
    height: 80px;
    background-color: var(--color-fondo);
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: baseline;
    color: #fff;
}
#btn_menu{
    display: none;
}
.menu__hamb_icon{
    display: inline-block;
    height: 30px;
    width: 30px;
    padding: 10px;
}
.menu__hamb_icon img{
    width: 30px;
    text-align: center;
}
.menu__hamb_icon :hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}
.menu__lista{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    margin-left: -80%;
    transition: all 0.2s;
    top: 80px;
}
.menu__link{
    display: block;
    padding: 15px 20px;
    background-color: var(--color-fondo);
    border-top: 1px solid var(--color-secundario);
}
.menu__link a{
    font-size: 1rem;
    font-weight: bold;
    color: var(--color-letras);
}
.logo {
    color: var(--color-letras);
    font-size: 2rem;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 5px;
}
.buscar {
    padding: 0 10px;
}
#btn_menu:checked ~ .menu__lista {
    margin: 0;
}

/* CATEGORIAS */
.carousel__lista {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right, #5c58b6, #5d4fc6, #6243d5, #6c31e1, #7a04eb);
    z-index: 0;
}
#marvel {
    width: 5em;
}
#marvel:hover{
    filter: grayscale(0%);
    transform: scale(1.2);
    transition: 1s;
}
#dc { 
    width: 3em;
    background-color: transparent;
}
#dc:hover {
    filter: grayscale(0%);
}
#starwars {
    width: 4em;
    background-color: transparent;
}
#starwars:hover {
    filter: grayscale(0%);
}
#pop {
    width: 3.5em;
    background-color: transparent;
}
#pop:hover {
    filter: grayscale(0%);
}
/* main */

.product{
    background-color: var(--color-fondo);
    font-family: 'Permanent Marker', cursive;
    height: 100%;
}
.product__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}
.principal div img{
    width: 300px;
    border-radius: 1rem;
}

/* FOOTER */
.footer {
    border-top: 2px solid var(--color-secundario);
    background-color: var(--color-secundario);
}
.redes__titulo{
    text-align: center;
    padding: 10px;
    font-family: var(--letra-principal);
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.redes-conteiner{
    margin: 0px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;  
}
.redes-icon__img{
    width: 50px;
    margin: 0 1rem;
}

@media screen and (min-width: 1024px) {
    .header{
        height: 80px;
        background-color: var(--color-fondo);
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: baseline;
        color: #fff;
    }
    .menu__hamb_icon{
        display: none
    }
    #btn_menu{
        display: none;
    }
    .menu__lista{
        position:relative;
        display: flex;
        flex-direction: row;
        width: autp;
        height: auto;
        margin-left: 0%;
        transition: all 0.2s;
        top: 0px;
    }
    .menu__link{
        display: inline-block;
        padding: 15px 20px;
        background-color: var(--color-fondo);
        border-top: none;
    }
    .menu__link a{
        font-size: 1rem;
        font-weight: bold;
        color: var(--color-letras);
    }
    .logo {
        color: var(--color-letras);
        font-size: 2rem;
        font-family: 'Rock Salt', cursive;
        letter-spacing: 5px;
        margin-right: 300px;
    }
    .buscar {
        padding: 0 10px;
    }
    .carousel__lista {
        height: 100px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        background-image: linear-gradient(to right, #5c58b6, #5d4fc6, #6243d5, #6c31e1, #7a04eb);
        z-index: 0;
    }
    #marvel {
        filter: grayscale(100%);
        width: 5em;
    }
    #marvel:hover{
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
    #dc { 
        filter: grayscale(100%);
        width: 3em;
        background-color: transparent;
    }
    #dc:hover {
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
    #starwars {
        filter: grayscale(100%);
        width: 4em;
        background-color: transparent;
    }
    #starwars:hover {
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
    #pop {
        filter: grayscale(100%);
        width: 3.5em;
        background-color: transparent;
    }
    #pop:hover {
        filter: grayscale(0%);
        transform: scale(2);
        transition: 1.5s;
    }
    /* main */
    .product{
        background-color: var(--color-fondo);
        font-family: 'Permanent Marker', cursive;
        height: 100vh;
    }
    .product__container{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        padding: 10px;
    }
    .principal div img{
        width: 300px;
        border-radius: 1rem;
    }

}
